body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.top-left-nav {
    text-align: left;
}

.top-right-nav {
    text-align: right;
}
.img-container {
    text-align: center;
    display: block;
}

#search {
    text-align: center;
    background-color:
}