* {
    padding:0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 16px;
    width: 960px;
}

#page-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: lightpink;
}

#top-nav-wrapper {
    position: absolute;
    top:0;
    width:100%;
    background-color: lightgray;
}

.top-nav {
    top:0;
    padding: 0px;
    margin-left: 15px;
    margin-top: 15px;
    Width: 100;
}

.top-nav ul {
    list-style-type: none;
    width: 100%;
}

.top-nav li {
    display: inline-block;
    margin: 0px;
    padding-right: 15px;
}

.top-nav li:nth-child(3) {
    float: right;
}

.top-nav li:nth-child(4) {
    float: right;
}

.img-container {
    position: relative center;
    width: 100%;
}

img {

}


#search {
    text-align: center;
    background-color: #f0f0f0;
}

#footer {
    bottom: 0;
    background-color: rgb(235, 230, 230);
    border: none;
    box-sizing: border-box;
    padding: 10px 10px;
    height: 40px;
    width:100%;
    position: absolute;
}

.bottom-nav ul {
    list-style-type: none;
}

.bottom-nav li {
    display: inline-block;
    margin: 0;
    padding-right: 15px;
}

.bottom-nav li:nth-child(3) {
    float: right;
}
    
.bottom-nav li:nth-child(4) {
    float: right;
}

.bottom-nav li:nth-child(5) {
    float: right;
}