body {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-color: #000000
}
.top-left-nav {
    text-align: left;
}

.top-right-nav {
    text-align: right;
}
.img-container {
    text-align: center;
    display: block;
}

#search {
    text-align: center;
    background-color: #f0f0f0;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}